@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);

body {
    font:14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color:#777;
    font-weight:300;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    color:#222;
    margin:0 0 20px;
}

p  {
    margin:0 0 20px;
}

h1, h2, h3 {
    line-height:1.1;
}

h1 {
    font-size:28px;
}

h2 {
    color:#393939;
}

h3, h4, h5, h6 {
    color:#494949;
}

img + span {
    margin-left: 5px;
}

img {
    max-width:100%;
}

button {
    padding: 10px 20px;
    color: #666665;
    background: #fff;
    border-radius:999em;
    border:1px solid #d2d2d2;
    left-padding: 30px;
    cursor: pointer;
    margin-top: 45px;
}

button > img,
button > span {
    vertical-align: middle
}

button:hover {
    border-color: #626262;
    color: #333332
}

section {
    padding: 2.5%;
    display:inline-block;
    vertical-align: top;
}

.preview {
    width: 59%;
}

.edit {
    position: absolute;
    top: 0;
    right: 0;
    min-height: 100%;
    width: 30%;
    background: #f0f0f0;
}

.input {
    margin-top: 45px;
    position: relative;
}

.input label {
    padding: 10px;
    position:absolute;
    z-index:1;
    pointer-events:none;
    -webkit-transition: -webkit-transform 0.25s, font-size 0.25s;
    transition: transform 0.25s, font-size 0.25s;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;    
}

.input.dirty label, 
.input.focused label {
    display:block;
    font-size: 10px;
    transform: translate3d(0,-3em,0);
    -webkit-transform: translate3d(0,-3em,0);
}

.input .length {
    font-size: 8px;
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.input.invalid .length {
    color: #a10;
}

[contenteditable]:focus {
    outline: none;
}

.input [contenteditable] {
    background: #fff;
    border: 1px solid transparent;
    min-height: 20px;
    padding: 10px;
    transition: background-color 0.25s, border-color 0.25s;
    -webkit-transition: background-color 0.25s, border-color 0.25s;
}

.input.focused [contenteditable] {
    border-color: #a9d8b2;
    background: rgba(87,173,104,.1);
    color: #468c54;
}

.input.invalid [contenteditable] {
    border-color: #cc1100;
    background: rgba(204,17,0,0.1);
    color: #a10;
}

#tweet-preview {
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 6px;
    padding: 30px 40px;
}

.tweet-text {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #292f33;
    font-size: 28px;
    line-height: 34px;
    font-weight: 300;
    letter-spacing: .01em;
}

@media print, screen and (max-width: 720px) {
    body {
	word-wrap:break-word;
    }

    section {
	display: block;
	position: relative !important;
	width: 95% !important;
    }  
}

@media print {
    body {
	padding:0.4in;
	font-size:12pt;
	color:#444;
    }
}
